/*This is a CSS comment */
body {
	background-color: #c7c7c7;
	background-image: url(../images/surfer.jpg);
	background-repeat: no-repeat;
	background-position: 50% 0;
	background-size: 100% auto;
	background-attachment: fixed;
	font-family: Helvetica, Arial, Sans-serif;
	overflow-y: scroll;
}
@media screen and (orientation: portrait) { body
{
background-size: auto 100%;
	}
}

.main{ 
	max-width: 600px;
	background-color: rgba(255,255,255,0.8);
	box-shadow: 0px 0px 10px 5px rgba(255,255,255,0.8);
	border-radius: 20px;
	margin: 0 auto;
	padding:20px;
}
h1 {
	text-align: center;
	font-size: 40px;
	font-weight: normal;

	letter-spacing: 5px;
	border-bottom: 4px solid black;
	padding-bottom: 20px;
}

h2{
	text-align: center;
	text-transform: uppercase;
	font-weight: normal;
	letter-spacing: 5px;
	font-size: 14px;
}
img{
	border: 3px dashed #1b95f2;
	border-radius: 0 50%;
	display: block;
	margin: 0 auto;
	width: 200px;
}

h3 { 
cursor: pointer;
margin -bottom: 0; 
}
ul,
ol,
p{
	list-style: none;
	padding-left: 0;
	line-height: 1.5;
	font-weight: normal;
	letter-spacing: 2px;
	font-size: 12px;
	font-family: 'Roboto', sans-serif;
}
a {
	color:#ffffff;
	font-weight: bold;
	text-decoration: none;
}
a:hover,
a:focus,
a:visited {
	color: #000000;
	text-decoration: underline;
}

